/* color */
:root {
    --color-base: #BAA8A2;
    --color-white: #fff;
    --color-black: #000;
}
/* common */
h2{
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.4em;
    text-align: center;
    margin-bottom: 64px;
}
h3{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 2em;
    margin-bottom: 24px;
}
a{
    display: block;
    width: 100%;
    height: 100%;
}
a:hover{
    opacity: 0.7;
}
p{
    font-family: "Noto Serif JP", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0.08em;
}
.btn{
    height: 55px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 55px;
    text-align: center;
    background: var(--color-base);
    color: var(--color-white);
}
.container{
    display: flex;
}
@media screen and (max-width: 767px) {
    h2{
        font-size: 20px;
        margin-bottom: 48px;
    }
    h3{
        font-size: 18px;
        line-height: 1.6em;
        margin-bottom: 10px;
    }
    p{
        font-size: 14px;
    }
    .btn{
        font-size: 16px;
    }
}

/* slider */
.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.slick-dots{
    bottom: 10px;
}
.slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
}
.slick-dots li button{
    width: 10px;
    height: 10px;
    padding: 0;
}
.slick-dots li button:before{
    content: '';
    background: var(--color-black);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0;
}
/* header */
header{
    width: 100%;
    height: 80px;
    background: var(--color-white);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}
header h1{
    position: absolute;
    top: 30px;
    left: 30px;
}
header h1 img{
    width: auto;
    height: 30px;
}
header a img{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 30px;
    right: 30px;
}
@media screen and (max-width: 767px) {
    header{
        height: 60px;
    }
    header h1{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    header h1 img{
        height: 18px;
    }
    header a img{
        width: 24px;
        height: 24px;
        top: 20px;
        right: 20px;
    }
}

/* mv */
.mv{
    width: 100%;
}

/* concept */
.concept{
    width: 100%;
    background: rgba(186, 168, 162, 0.15);
    padding: 160px 0;
}
.concept_wrap{
    width: 79%;
    max-width: 1080px;
    margin: 0 auto;
}
.concept .container{
    align-items: center;
    justify-content: center;
    column-gap: 80px;
}
.concept .container .img{
    width: 30%;
}
.concept .container .lead{
    width: 46%;
}
@media screen and (max-width: 767px) {
    .concept{
        padding: 96px 0;
    }
    .concept_wrap{
        width: 90%;
        max-width: none;
    }
    .concept .container{
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
    }
    .concept .container .img{
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
    .concept .container .lead{
        width: 100%;
        text-align: center;
    }
}

/* category */
.category{
    width: 67%;
    max-width: 920px;
    padding: 160px 0;
    margin: 0 auto;
}
.category li.container{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}
.category li.container:last-child{
    margin-bottom: 0;
}
.category .img{
    width: 46%;
}
.category .txt{
    width: 41%;
}
.category .txt p{
    margin-bottom: 30px;
}
.category .btn{
    width: 77%;
}
@media screen and (max-width: 767px) {
    .category{
        width: 100%;
        max-width: none;
        padding: 96px 0;
    }
    .category li.container{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .category li.container:last-child{
        margin-bottom: 0;
    }
    .category .img{
        width: 100%;
        margin-bottom: 18px;
    }
    .category .txt{
        width: 90%;
    }
    .category .txt p{
        margin-bottom: 30px;
    }
    .category .btn{
        width: 75%;
        margin: 0 auto;
    }
}

/* instagram */
.instagram{
    width: 79%;
    max-width: 1080px;
    padding: 160px 0;
    margin: 0 auto;
}
.instagram h2{
    margin-bottom: 25px;
}
.instagram p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 80px;
}
.instagram .container{
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 80px;
}
.instagram .container li{
    width: 31%;
}
.instagram .btn{
    width: 324px;
    margin: 0 auto;
}
@media screen and (max-width: 767px) {
    .instagram{
        width: 90%;
        max-width: none;
        padding: 96px 0;
    }
    .instagram h2{
        margin-bottom: 14px;
    }
    .instagram p{
        font-size: 14px;
        margin-bottom: 48px;
    }
    .instagram .container{
        column-gap: 9px;
        margin-bottom: 48px;
        justify-content: center;
    }
    .instagram .container li{
        width: 31%;
    }
    .instagram .btn{
        width: 324px;
        margin: 0 auto;
    }
}

/* footer */
footer{
    padding: 54px 0 24px;
    background: var(--color-base);
}
footer .footer_wrap{
    width: 79%;
    max-width: 1080px;
    margin: 0 auto;
}
footer .footer_name{
    height: 40px;
    margin-bottom: 20px;
}
footer .footer_name img{
    width: auto;
    height: 40px;
}
footer .container{
    padding-bottom: 36px;
    margin-bottom: 36px;
    column-gap: 20px;
    border-bottom: 1px solid var(--color-white);
}
footer .container li{
    font-family: "Noto Serif JP", serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--color-white);
}
footer .copyright{
    font-size: 12px;
    text-align: center;
    color: var(--color-white);
}
@media screen and (max-width: 767px) {
    footer{
        padding: 38px 0 20px;
    }
    footer .footer_wrap{
        width: 90%;
        max-width: none;
    }
    footer .footer_name{
        height: 30px;
    }
    footer .footer_name img{
        height: 30px;
    }
    footer .container{
        padding-bottom: 20px;
        margin-bottom: 20px;
        column-gap: 0;
        justify-content: space-between;
    }
    footer .container li{
        font-size: 12px;
    }
}